{% import 'macros/form.html' as form %}
<div data-module="custom-fields" >
{%- set values = data.get(field.field_name, [])
    + [''] * field.get('form_blanks', 3) -%}

{%- for element in values -%}
{% if  field.field_name  == 'subfield_other_organization' %}
{% set visibilidad = "display:none;" %}
{% endif %}

{% if loop.index == 1 %}
    <div id="fields_repeating_container_{{ field.field_name }}_1" style="{{ visibilidad }}">
        {{ form.input(
        field.field_name + '-' ~ loop.index,
        id='field-' + field.field_name + '-' ~ loop.index,
        label=h.scheming_language_text(field.label) + ' ' ~ loop.index,
        placeholder=h.scheming_language_text(field.form_placeholder),
        value=element,
        error=errors[field.field_name],
        classes=['control-medium'],
        attrs=field.form_attrs if 'form_attrs' in field else {},
        is_required=h.scheming_field_required(field)
        ) }}
    </div>
{% else%}
	{% set ocultoid = loop.index|string %}
        {% if element == '' %}
		{% set visibilidad = "display:none;" %}
        {% else %}
		{% set visibilidad = "display:block;" %}
	{% endif %}

    		<div id="fields_repeating_container_{{ field.field_name }}_{{ loop.index }}" style="{{ visibilidad }}">
	        {{ form.input(
		        field.field_name + '-' ~ loop.index,
		        id='field-' + field.field_name + '-' ~ loop.index,
		        label=h.scheming_language_text(field.label) + ' ' ~ loop.index,
		        placeholder=h.scheming_language_text(field.form_placeholder),
		        value=element,
		        error=errors[field.field_name],
		        classes=['control-medium'],
		        attrs=field.form_attrs if 'form_attrs' in field else {},
		        is_required=h.scheming_field_required(field)
	        ) }}
	        </div>
		    
{% endif%}
{%- endfor -%}
</div>
<script>
var auxButton = document.getElementById('auxButton');
if(auxButton){
	auxButton.click();
}
</script>

