{% import 'macros/form.html' as form %}

{% set fieldname_subfields = field.field_name_subfields|string %}
{% set fieldname_subfields_to_js = fieldname_subfields | replace("u'","'")  %}

{%- set values = data.get(field.field_name, []) -%}

{%- for element in values -%}

{% if element %}
<p>
	{{ element }}
</p>
{% else %}
<p>
	No element
</p>
{% endif %}

{% if loop.index == 1 %}
    	<div id="fields_repeating_container_{{ field.field_name }}_1" style="display:block;">
	{%- set options=[] -%}
	{%- set form_restrict_choices_to=field.get('form_restrict_choices_to') -%}
	{%- if not h.scheming_field_required(field) or
	    field.get('form_include_blank_choice', false) -%}
	  {%- do options.append({'value': '', 'text': ''}) -%}
	{%- endif -%}
	{%- for c in h.scheming_field_choices(field) -%}
	  {%- if not form_restrict_choices_to or c.value in form_restrict_choices_to -%}
	    {%- do options.append({
	      'value': c.value,
	      'text': h.scheming_language_text(c.label) }) -%}
	  {%- endif -%}
	{%- endfor -%}
	{%- if field.get('sorted_choices') -%}
	  {%- set options = options|sort(case_sensitive=false, attribute='text') -%}
	{%- endif -%}

	{% call form.select(
	    field.field_name + '-' ~ loop.index,
	    id='field-' + field.field_name + '-' ~ loop.index,
	    label=h.scheming_language_text(field.label+ ' ' ~ loop.index),
	    options=options,
	    selected=element,
	    error=errors[field.field_name + '-' ~ loop.index],
	    classes=['control-medium'],
	    attrs=field.form_attrs if 'form_attrs' in field else {},
	    is_required=h.scheming_field_required(field)
	    )
	%}
  
	  {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
	{% endcall %}
	
 	</div>
{% else%}
	{% set visibilidad = "display:block;" %}
	{%- if element == '' -%}
		{% set visibilidad = "display:none;" %}
	{% endif %} 
		 <div id="fields_repeating_container_{{ field.field_name }}_{{ loop.index }}" style="{{ visibilidad }}">
		{%- set options=[] -%}
		{%- set form_restrict_choices_to=field.get('form_restrict_choices_to') -%}
		{%- if not h.scheming_field_required(field) or
		    field.get('form_include_blank_choice', false) -%}
		  {%- do options.append({'value': '', 'text': ''}) -%}
		{%- endif -%}
		{%- for c in h.scheming_field_choices(field) -%}
		  {%- if not form_restrict_choices_to or c.value in form_restrict_choices_to -%}
		    {%- do options.append({
		      'value': c.value,
		      'text': h.scheming_language_text(c.label) }) -%}
		  {%- endif -%}
		{%- endfor -%}
		{%- if field.get('sorted_choices') -%}
		  {%- set options = options|sort(case_sensitive=false, attribute='text') -%}
		{%- endif -%}
	
		{% call form.select(
		    field.field_name + '-' ~ loop.index,
		    id='field-' + field.field_name + '-' ~ loop.index,
		    label=h.scheming_language_text(field.label + ' ' ~ loop.index),
		    options=options,
		    selected=element,
		    error=errors[field.field_name + '-' ~ loop.index],
		    classes=['control-medium'],
		    attrs=field.form_attrs if 'form_attrs' in field else {},
		    is_required=h.scheming_field_required(field)
		    )
		%} 
		  {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
		{% endcall %}
 		</div>
{% endif %}	
{% endfor %}
<input type="button" id="auxButtonSelectDepartament" onclick="selectAction({{ values|length }}, '{{ field.field_name }}', {{ fieldname_subfields_to_js }} )" style="display:none;">  
</ol>
<script>

var auxButtonSelectDepartament = document.getElementById('auxButtonSelectDepartament');
  if(auxButtonSelectDepartament){
	auxButtonSelectDepartament.click();
	auxButtonSelectDepartament.id="auxButtonSelectDepartamentold"
  }

function selectAction(num_elements,label,subfields)
{
	
		var element = 1;
		var selectfieldId1='field-' + label + '-' + element;	
		document.getElementById(selectfieldId1).onchange = function() {
		    if(document.getElementById(selectfieldId1).value == 'INIA'){
		      document.getElementById('field-subfield_select2_org_dep-1').style.display='block';
		      document.getElementById('fields_repeating_container_subfield_select2_org_dep_1').style.display='block';
		    }else{
		      document.getElementById('field-subfield_select2_org_dep-1').style.display='none';
		      document.getElementById('fields_repeating_container_subfield_select2_org_dep_1').style.display='none';
			}    
		}
		var element = 2;
		var selectfieldId2='field-' + label + '-' + element;	
				
		document.getElementById(selectfieldId2).onchange = function() {
		    if(document.getElementById(selectfieldId2).value == 'INIA'){
			
		      document.getElementById('field-subfield_select2_org_dep-2').style.display='block';
		      document.getElementById('fields_repeating_container_subfield_select2_org_dep_2').style.display='block';
		    }else{
		      document.getElementById('field-subfield_select2_org_dep-2').style.display='none';
		      document.getElementById('fields_repeating_container_subfield_select2_org_dep_2').style.display='none';
			}    
		}

		var element = 3;
		var selectfieldId3='field-' + label + '-' + element;	
				
		document.getElementById(selectfieldId3).onchange = function() {
		    if(document.getElementById(selectfieldId3).value == 'INIA'){
			
		      document.getElementById('field-subfield_select2_org_dep-3').style.display='block';
		      document.getElementById('fields_repeating_container_subfield_select2_org_dep_3').style.display='block';
		    }else{
		      document.getElementById('field-subfield_select2_org_dep-3').style.display='none';
		      document.getElementById('fields_repeating_container_subfield_select2_org_dep_3').style.display='none';
			}    
		}

		var element = 4;
		var selectfieldId4='field-' + label + '-' + element;	
				
		document.getElementById(selectfieldId4).onchange = function() {
		    if(document.getElementById(selectfieldId4).value == 'INIA'){
			
		      document.getElementById('field-subfield_select2_org_dep-4').style.display='block';
		      document.getElementById('fields_repeating_container_subfield_select2_org_dep_4').style.display='block';
		    }else{
		      document.getElementById('field-subfield_select2_org_dep-4').style.display='none';
		      document.getElementById('fields_repeating_container_subfield_select2_org_dep_4').style.display='none';
			}    
		}


}
</script>

{% resource 'ckanext-repeating/main' %}

