recursive-include ckanext *.html *.json *.yaml
recursive-include    ckanext/repeating/templates                            *
recursive-include    ckanext/repeating/public                               *
recursive-include    ckanext/repeating *.html *.json *.js *.less *.css

