{%- set values = data[field.field_name] -%}

{% set fieldname_subfields = field.field_name_subfields|string %}
{% set fieldname_subfields = fieldname_subfields | replace("u","")  %}
{% set subfields = fieldname_subfields | replace("u'","")  %}
{% set fieldname_subfields = fieldname_subfields | replace("'","")  %}
{% set fieldname_subfields = fieldname_subfields | replace("[","") | replace("]","")   %}

<ol>
{%- for element in values -%}
<div style="padding: 10px">
<div id="fields_repeating_container_{{ field.field_name }}_{{ loop.index}}" style="background-color: #F5F5F5">
  <li>{{ element }}</li>
</div>
</div>
{%- endfor -%}
<input type="button" id="auxButton" onclick="grouping({{ values|length }}, '{{ field.field_name }}', {{ subfields }} )" style="display:none;">  
</ol>

{% set fieldslist = fieldname_subfields.split(',') %}
{%- for field in fieldslist -%}
	{%- set fieldvalues = data[field] -%}
	{% if fieldvalues %}
		{%- for val in fieldvalues -%}
			<div id="fields_repeating_container_{{ field }}_{{ loop.index}}">  
			  	{{ val }}
			</div>
		{%- endfor -%}
	{% else %}
		 <li>no data in fieldvalues</li>
	{% endif %}
{%- endfor -%}

<script>
var auxButton = document.getElementById('auxButton');
if(auxButton){
	auxButton.click();
}
function grouping(num_elements,label,subfields)
{
for (i = 0; i < num_elements; i++) {
	var index = i+1;
	var elementid = 'fields_repeating_container_'+label+'_'+index;
	for (j = 0; j < subfields.length; j++) {
		var subfieldId='fields_repeating_container_'+subfields[j]+'_'+index;
		var subfield = document.getElementById(subfieldId);
		var group_fields_vidId = 'fields_repeating_container_'+label+'_'+index;
		var group_fields_div = document.getElementById(group_fields_vidId);
		group_fields_div.appendChild(subfield);
	}
}
}
</script>
